<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script> -->
  </head>
  <body>
    <div id="app">
      <form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post">
        <input type="text" name="MerchantID" value="MS155949430" />
        <input type="text" name="TradeInfo" value=""/>
        <input type="text" name="TradeSha" value="" />
        <input type="text" name="Version" value="2.2" />
        <!-- <input type="text" name="MerchantOrderNo" value="" />
        <input type="text" name="TimeStamp" value="" /> -->
        <!-- <input type="text" name="Amt" value="300" /> -->
        <!-- <input type="email" name="Email" value="example1@example.com" /> -->
        <button type="submit">送出</button>
      </form>
    </div>

    <!-- <script type="module">
      import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.esm-browser.min.js';

      const host = '<%= Host %>';
      const app = {
        data() {
          return {
            order: {
              order: {}
            },
            orderId: '',
          };
        },
        methods: {},
        async mounted() {
          // https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/URLSearchParams
          const url = new URLSearchParams(window.location.search);
          this.orderId = url.get('order');
          const res = await axios.get(`${host}order/${this.orderId}`);
          this.order = res.data;
          console.log(this.order);
        },
      };

      createApp(app).mount('#app');
    </script> -->
  </body>
</html>
