name: Remote SSH Commanda
on:
  push:
    branches:
      - feat/deploy
  workflow_dispatch: {}

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_DATABASE_DEV: ${{ secrets.DB_DATABASE_DEV }}
        with:
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          username: ${{ secrets.USERNAME }}
          host: ${{ secrets.EC2_HOST}}
          port: ${{ secrets.EC2_PORT }}
          envs: DB_HOST,DB_PORT,DB_USERNAME,DB_PASSWORD,DB_DATABASE_DEV
          script: |
            cd ~/work/github/shuttler-backend-dev
            git pull
            export PGPASSWORD=${DB_PASSWORD}
            echo "Show Current Database"
            psql -h ${DB_HOST} -p ${DB_PORT} -U ${DB_USERNAME} -d ${DB_DATABASE_DEV} -c '\list'
            echo "Deploy complete"